<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start"> <ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>AppsHill's Events</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-list>
		<ion-list-header> <ion-label>Your next events</ion-label>
		</ion-list-header>
		<ion-item
		tappable
		*ngFor="let event of eventList"
		routerLink="/event-detail/{{ event.id }}"
		>
		<ion-label>
			<h2>{{event?.name}}</h2>
			<p>Ticket: <strong>${{event?.price}}</strong></p>
			<p>Date: <strong>{{event?.date}}</strong></p>
		</ion-label>
	</ion-item>
</ion-list>
</ion-content>