<ion-header>
	<ion-toolbar>
		<ion-title></ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="notifications()">
				<ion-icon slot="icon-only" name="person"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<img src="https://media0.giphy.com/media/d3LP5LEF3EdTG/giphy.gif?cid=3640f6095c8a43763566693477ef5f29">
<ion-content padding>
	<ion-button expand="block" color="primary" routerLink="/event-create">
		Create a new Event
	</ion-button>
	<ion-button expand="block" color="primary" routerLink="/event-list">
		See your events
	</ion-button>
</ion-content>